$body-background-color: #fffadf;
$sidebar-color: #f5eecf;
$border-color: #ebe5c6;

$body-text-color: $grey-dk-250;
$body-heading-color: $grey-dk-300;
$nav-child-link-color: #bbb38d;
$search-result-preview-color: #bbb38d;

$link-color: #b18500;
$btn-primary-color: #b18500;
$base-button-color: #bbb38d;

$code-background-color: #bbb38d;
$search-background-color: #bbb38d;
$table-background-color: #bbb38d;
$feedback-color: darken($sidebar-color, 3%);